* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
}
.app {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
section {
  box-shadow: 0px 0px 10px 5px #ccc;
  padding: 15px 10px;
  text-align: center;
  margin: 20px 0;
  padding: 50px;
}
